@import '../../styles/themes';
@import '../../../../../node_modules/@nebular/theme/styles/global/breakpoints';

@include nb-install-component {

  .toggle-map-button-container {
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    display: none;
    width: 100%;
    justify-content: center !important
  }

  @include media-breakpoint-down(lg) {
    .toggle-map-button-container {
      display: flex;
    }
  }
  .popup-place {
    position: relative;
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: opacity 0.2s ease-out;
    background-color: var(--color-basic-100);
    opacity: 0;
  }

  .popup-show-over {
    opacity: 1;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 60px;
  }
}
