@import '../@theme/styles/themes';

@include nb-install-component {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  ::ng-deep nb-menu .menu-group span {
    align-items: center;
  }

  ::ng-deep nb-sidebar.expanded nb-menu .menu-items > .menu-item a {
      justify-content: center;
  }

  ::ng-deep nb-sidebar.expanded nb-menu .menu-item a.active {
      position: relative;
  }

  ::ng-deep nb-sidebar.expanded nb-menu .menu-item a.active::before {
    left: 0;
    top: 0;
    position: absolute;
    content: "";
    height: 100%;
    width: 4px;
    background: var(--sidebar-menu-item-highlight-color);
  }

}
