<travale-img-thumbs-slider *ngIf="wikiImages && wikiImages.length > 0" [images]="wikiImages"></travale-img-thumbs-slider>

<div *ngIf="feature.properties?.['name'] || feature.properties?.['name_loc'] || feature.properties?.['name_en']" class="subtitle w-100">{{
    (feature.properties['name_loc'])? feature.properties['name_loc']:
        ((this.feature.properties['name_en'])? this.feature.properties['name_en']: this.feature.properties['name'])
}}</div>
<div *ngIf="feature?.properties?.categories" class="d-flex flex-wrap row-gap-1">
    <div *ngFor="let category of feature?.properties?.categories | keyvalue">
        <span *ngIf="category.value" travaleBadge
        [badgeColor]="iconsService.getIconColorByKey(category.value)">
        {{'leafletMap.' + category.value | translate}}
        </span>
    </div>
</div>

<div *ngIf="feature.properties?.website" class="subtitle w-100 text-nowrap">
    <small>
        <i class="fa fa-globe color-basic-600 me-1"></i>
        <a [href]='feature.properties.website'>{{feature.properties.website | shortUrl}}</a>
    </small>
</div>
<div *ngIf="feature.properties?.openingHours" class="subtitle w-100 lh-1 mt-1 mb-1" >
    <small>
        <i class="fa-regular fa-clock color-basic-600 me-1"></i>
        {{feature.properties.openingHours}}
    </small>
</div>
<div *ngIf="feature.properties?.phone" class="subtitle w-100 lh-1 mt-1 mb-1">
    <small>
        <i class="fa fa-phone color-basic-600 me-1"></i>
        {{feature.properties.phone}}
    </small>
</div>

<div *ngIf="wikiPageRef" class="subtitle w-100 lh-1 mt-1 mb-1">
    <small>
        <i class="fa-brands fa-wikipedia-w color-basic-600 me-1"></i>
        <a [href]="wikiPageRef.url">Wikipedia</a>
        {{wikiPageRef.language}}
    </small>
</div>
<small>
    <a *ngIf="wikiExtraction" href="javascript:void(0);" (click)="showWikiInfo = !showWikiInfo">{{ (!showWikiInfo)? ('common.showMore' | translate): ('common.hide' | translate)}}</a>
</small>
<div *ngIf="wikiExtraction" [hidden]="!showWikiInfo" class="wikicontainer scrollable-container ps-1 pe-1 pt-1">
    {{wikiExtraction.extract}}
</div>
