<nb-card size="tiny">
    <nb-card-body>
        <span class="subtitle">{{'common.color' | translate }}</span>
        <div class="d-flex align-items-center flex-wrap">
            <div class="d-flex flex-column me-1 mb-1" *ngFor="let color of colors">
                <button nbButton class="color-button" shape="round" size="tiny" [style.background-color]="color" (click)="onColorClick(color)">
                    <nb-icon *ngIf="color === selectedColor" icon="checkmark" class="w-100 h-100"></nb-icon>
                </button>
            </div>
        </div>

    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="primary" (click)="close()" fullWidth shape="round">{{'common.done' | translate }}</button>
    </nb-card-footer>
</nb-card>

