@import '../../@theme/styles/themes';

@import '../../../../node_modules/@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
    nb-card {
        height: nb-theme(card-height-giant);
    }
    nb-card-body {
        padding: 5px;
        overflow-x: hidden;
    }
}
