@import '../../@theme/styles/themes';
@import '../../../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../../../node_modules/@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  position: relative;
  display: block;
  overflow: hidden;

  nb-card {
    position: relative;
  }
}
