<nb-card>
    <nb-card-body>
        <travale-leaflet-map-component #leafletMap [mode]="'FOLLOW_ROUTE'" (locationChange)="locationChanged($event)">
        </travale-leaflet-map-component>
        <div class="popup-place" [class.popup-show-over]="showPlacePopup || showNearbyPlacesPopup">
            <travale-place-on-map-popup *ngIf="showPlacePopup" [place]="popupPlace"></travale-place-on-map-popup>

            <div *ngIf="showNearbyPlacesPopup && nearbyPlacesToShow && nearbyPlacesToShow.length > 0">
                <span class="caption">{{'followRoute.youAreNearby' | translate}}:</span>
                <nb-list class="mt-1 scrollable-container max-height-300">
                    <nb-list-item *ngFor="let place of nearbyPlacesToShow" class="p-2 nearby-item"
                    (click)="popupPlace = place; showNearbyPlacesPopup = false; showPlacePopup = true">
                        <div>
                            <img *ngIf="place.images && place.images.length > 0" [src]="place.images[0].thumb" class="thumb-photo"/>
                            <span class="subtitle ms-2">{{place.name}}</span>
                        </div>
                    </nb-list-item>
                </nb-list>

            </div>

            <div class="position-absolute top-0 end-0 pt-1 pe-1">
                <button nbButton size="tiny" shape="round" (click)="showPlacePopup = false; showNearbyPlacesPopup = false"><nb-icon icon="close-outline"></nb-icon></button>
            </div>
        </div>
    </nb-card-body>
</nb-card>

