<div class="form-group">
  <input
    [value]="value"
    type="text"
    placeholder="Enter value"
    placeholder="{{'searchDestinationInput.searchForDestination' | translate}}"
    class="form-control"
    (focus)="onFocus()" (blur)="onBlur()"
    #input/>

  <nb-list *ngIf="foundDestinations" class="scrollable-container">
    <nb-list-item *ngFor="let displayData of foundDestinations"
    (click)="destinationSelected(displayData)">
      <div class="row div-item-option">
        <div class="col-10">{{ displayData.displayName }}</div>
        <span travaleBadge
        badgeColor="{{(displayData.destination.type === 'city')? 'var(--color-primary-600)': 'var(--color-info-600)'}}"
         class="col-2" *ngIf="displayData.destination.type !== 'popular_destinations'"

        >{{'searchDestinationInput.' + displayData.destination.type | translate}} </span>
      </div>
    </nb-list-item>
  </nb-list>
</div>
