@import '../../../../@theme/styles/themes';
@import '../../../../../../node_modules/@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
    img {
        object-fit: cover;
        width: 100%;
        height: var(--thumb-xl-height);
        border-radius: var(--picture-border-radius);
        filter: var(--picture-default-shadow);
    }

    img:hover, img.selected {
        cursor: pointer;
        border-style: solid;
        border-radius: var(--picture-border-radius);
        border-color: var(--color-info-default-border);
        border-width: 3px;
    }

    .checkbox-selected {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 2
    }
    .img-collection {
        max-height: 350px;
        overflow: auto;
    }

    @include media-breakpoint-down(sm) {
        img {
           height: 100px;//var(--thumb-sm-height);
        }
    }
    nb-icon {
        color: var(--checkbox-basic-checked-checkmark-color);
    }
}

