<div class="row m-0">
    <div class="col-12 p-0">
        <nb-card>
            <travale-route-card [route]="route"
                (changePlaceClicked)="onChangePlaceClicked($event)"
                (placesSequenceChanged)="onPlacesSequenceChanged($event)"
                (routeTitleChanged)="onRouteTitleChanged()"
                ></travale-route-card>
        </nb-card>
    </div>
</div>

<div class="toggle-map-button-container">
    <button nbButton status="primary" (click)="toggleMapClicked()">{{(!showMapOver)? 'Open Map': 'Close Map'}}</button>
</div>


