@import '../../@theme/styles/themes';
@import '../../../../node_modules/@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  position: relative;
  display: block;
  overflow-x: hidden;

  nb-card {
    position: relative;
    border: none;
  }

  ::ng-deep .cdk-overlay-pane {
    z-index: 1080 !important;
  }

}



