<div class="row m-0">
    <div class="col-xl-6 p-0">
        <nb-card>
            <travale-route-card [route]="route"
                (changePlaceClicked)="onChangePlaceClicked($event)"
                (placesSequenceChanged)="onPlacesSequenceChanged($event)"
                (routeTitleChanged)="onRouteTitleChanged()"
                ></travale-route-card>
        </nb-card>
    </div>
    <div class="col-xl-6 p-0">
        <nb-card [class.hide-map]="!showMapOver" [class]="(showMapOver && sizeLessThanXl)? 'map-container-show-over' : 'map-container'" >
            <travale-leaflet-map-component (addToRoute)="onAddToRoute($event)" #leafletMap class="h-100"></travale-leaflet-map-component>
        </nb-card>
    </div>

</div>

<div class="toggle-map-button-container">
    <button nbButton status="primary" (click)="toggleMapClicked()">{{(!showMapOver)? 'Open Map': 'Close Map'}}</button>
</div>


