@import '../../styles/themes';
@import '../../../../../node_modules/@nebular/theme/styles/global/breakpoints';

::ng-deep .cdk-overlay-container {
  z-index: 1080 !important;
}

@include nb-install-component {

  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }
  .menu-sidebar, .menu-sidebar ::ng-deep > div.main-container {
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer {
    z-index: 3;
  }

  .map-sidebar {
    //transition: all 0.4s ease-out;
  }

  .map-sidebar, .map-sidebar ::ng-deep > div.main-container {
    min-width: 50%;
  }

  .map-sidebar ::ng-deep .scrollable {
    padding: 0;
  }


  .map-layout-footer {
    z-index: 1065 !important;
    box-shadow: none !important;

  }

  .map-layout-footer ::ng-deep .fixed {
    border: none;
    background: none !important;
  }

  nb-layout-column {
    filter: drop-shadow(1px 0px 10px var(--color-basic-transparent-600));
  }

  @include media-breakpoint-down(xxl) {
    .map-sidebar, .map-sidebar ::ng-deep > div.main-container {
      min-width: 40%;
    }
  }

  @include media-breakpoint-down(lg) {
    .map-sidebar ::ng-deep {
      width: 100%;
      z-index: 1062 !important;
      //top: 0 !important;
      > div.main-container {
        //top: 0 !important;
        width: 100%;
        height: 100vh !important;
        //padding: 0;
        //div.scrollable {
        //  z-index: 1062 !important;
        //}
      }
    }

    .map-sidebar.collapsed ::ng-deep {
      width: 0 !important;
      min-width: 0 !important;
      > div.main-container {
        //top: 0 !important;
        width: 0 !important;
        height: 0 !important;
        //padding: 0;
        //div.scrollable {
        //  z-index: 1062 !important;
        //}
      }
    }
  }

}
