@import '../../@theme/styles/themes';

@include nb-install-component() {
    display: block;
    position: relative;

    textarea {
        max-height: var(--max-height);
        min-height: var(--min-height);
        box-sizing: border-box;
        padding-left: 0.6rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }

    ::ng-deep nb-form-field.expandable-textarea {
        > div.nb-form-field-addon {
            position: absolute !important;
            top: 0px !important;
            right: 5px !important;
        }
    }
}


