@import './themes';

.lightbox {

	/** Apply basic lightbox styling */
	position: fixed !important;
}

.cdk-overlay-container {
  z-index: 1080 !important;
}

.nearbyPopupStyle .leaflet-popup-content-wrapper,
.nearbyPopupStyle .leaflet-popup-tip {
    background-color: rgba(255,255,255, 0.7);
}

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }
}
