// @nebular theming framework
@import '../../../../node_modules/@nebular/theme/styles/theming';

// @nebular out of the box themes
@import '../../../../node_modules/@nebular/theme/styles/themes';

$nb-themes: nb-register-theme((
  layout-padding-top: 1.25rem,
  menu-item-icon-width: 1.8rem,
  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,

), default, default);

$nb-themes: nb-register-theme((
  color-basic-100: #ffffff,
  color-basic-200: #faf8f8,
  color-basic-300: #eaeaea,
  color-basic-400: #c8c7c7,
  color-basic-500: #b1b1b1,
  color-basic-600: #92999e,
  color-basic-700: #6c757d,
  color-basic-800: #2a2a2a,
  color-basic-1100: #111111,

  color-basic-transparent-100:	rgba(177, 177, 177, 0.08),
  color-basic-transparent-200:	rgba(177, 177, 177, 0.16),
  color-basic-transparent-300:	rgba(177, 177, 177, 0.24),
  color-basic-transparent-400:	rgba(177, 177, 177, 0.32),
  color-basic-transparent-500:	rgba(177, 177, 177, 0.4),
  color-basic-transparent-600:	rgba(177, 177, 177, 0.48),
  color-basic-transparent-700:	rgba(177, 177, 177, 0.56),
  color-basic-transparent-800:	rgba(177, 177, 177, 0.64),

  color-primary-400: #a0c492,
  color-primary-500: #83b271,
  color-primary-600: #689c54,
  color-primary-700: #4d7a3c,

  color-info-400: #ca97db,
  color-info-500: #a87ab7,
  color-info-600: #775782,
  color-info-700: #44324d,

  layout-padding-top: 1.25rem,
  menu-item-icon-width: 1.8rem,
  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: color-basic-300,
  slide-out-shadow-color: 0 4px 14px 0 #92999e,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #92999e,


  layout-background-color: color-basic-200,
  menu-item-hover-text-color: color-basic-100,
  menu-item-hover-background-color: color-basic-700,
  menu-submenu-item-hover-text-color: color-basic-100,
  menu-submenu-item-hover-background-color: color-basic-700,

  menu-item-active-text-color: color-basic-100,
  menu-item-active-background-color: color-basic-700,
  menu-submenu-item-active-text-color: color-basic-100,
  menu-submenu-item-active-background-color: color-basic-700,
  menu-submenu-padding: 0 0 0 0.5rem,

  layout-small-padding: 0,

  picture-default-shadow: drop-shadow(2px 4px 6px gray),
  form-field-addon-medium-height: 1.5rem,

  swiper-navigation-color: color-basic-600,
  swiper-pagination-color: color-basic-600,
  swiper-navigation-size: 22px,

), 'gray', default);
