<nb-card size="medium" style="width: var(--small-window-width)">
    <nb-card-header>
        {{'citySelectWindow.selectCity' | translate}}
    </nb-card-header>
    <nb-card-body>
        <div>
            <travale-search-destination-input mode="only_cities" (destianationSelect)="onSelectCity($event)"></travale-search-destination-input>
        </div>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-center">
        <button nbButton status="info" (click)="ref.close(); router.navigate(['/']);">{{'common.back' | translate}}</button>
        <button nbButton status="info" [disabled]="!city" (click)="done()" class="ms-4">{{'common.done' | translate}}</button>
    </nb-card-footer>
</nb-card>

