<div *ngIf="features" class="main-div">
    <div class="pb-1" *ngIf="features.length; else nothingFound">{{'leafletMap.placesNearby' | translate}}:</div>
    <ng-template #nothingFound>
        <span>{{'leafletMap.noPlacefound' | translate}}</span>
    </ng-template>
    <div class="d-flex w-100 flex-column flex-wrap align-content-center">
        <swiper-container #swiper
        [config]="configSwiper" travaleSwiper class="poi-swiper">
            <swiper-slide *ngFor="let item of features; let i=index">
                <div class="d-flex poi-item-container">
                    <travale-poi-item [feature]="item" [preferredLanguage]="preferredLanguage" [wikiPageRef]="wikiPageRefs[i]" [wikiExtraction]="wikiExtractions[i]" [wikiImages]="wikiImages[i]">
                    </travale-poi-item>
                </div>

            </swiper-slide>
        </swiper-container>
    </div>



    <button nbButton *ngIf="addToRouteCallback" (click)="addToRoute()" status="primary" size="tiny" shape="round" fullWidth class="mt-2">{{'leafletMap.addToRoute' | translate}}</button>
</div>
