@import '../../../@theme/styles/themes';

@include nb-install-component() {
    swiper-container {
        width: 120%;
        height: 100%;
        left: 2px;
      }

      swiper-slide {
        display: flex;
        justify-content: center;
      }

      .main-div {
        max-width: 320px;
        min-width: 250px
    }

    .poi-item-container {
        width: 80% !important;
        text-align: left;
        padding-bottom: 2rem;
    }
}
