@import '../../../@theme/styles/themes';
@import '../../../@theme/styles/custom_styles.scss';

@import '../../../../../node_modules/@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

    nb-card {
        width: 100%;
        padding: 0;
        margin-bottom: 1rem;
        border: none;
    }

    nb-card-body {
        padding: 0rem;
    }

    .upload-img-button {
        margin-top: 1rem;
    }

    .thumb-photo {
        height: var(--thumb-xl-height);
        border-radius: var(--picture-border-radius);
        filter: var(--picture-default-shadow);
        object-fit: cover;
    }

    @include media-breakpoint-down(sm) {
        .thumb-photo {
            height: var(--thumb-sm-height);
        }
      }

    .audion-accordion-header {
        ::ng-deep .expansion-indicator {
            right: 0 !important;
        }

    }

    .ghost-color {
        color: var(--button-ghost-basic-text-color);
    }

}

