<div *ngIf="place">
    <nb-card *ngIf="mode !== 'compact'" >
        <nb-card-body>
            <div *ngIf="!place.images || place.images.length === 0" class="d-flex justify-content-center w-100">
                <img src="assets/no-photo-available.png" class="thumb-photo"/>
            </div>
                <travale-img-carousel-slider [images]="place.images" [editable]="editable"></travale-img-carousel-slider>

            <button nbButton status="info" fullWidth size="small" shape="round" class="mt-2" (click)="openImgUploaderWindow()">{{'placeCard.addImages' | translate}}</button>
        </nb-card-body>
    </nb-card>

    <div *ngIf="mode === 'compact'; else full">
        <div class="ms-2">
            <div class="d-flex">
                <img *ngIf="place.images && place.images.length > 0" [src]="place.images[0].thumb" class="thumb-photo me-3"/>
                <div class="d-flex flex-column w-100">
                    <nb-form-field class="subtitle-form-field">
                        <input [readonly]="!editable" nbInput type="text" [(ngModel)]="place.name" class="subtitle-input" placeholder="{{'placeCard.placeTitle' | translate}}">
                        <nb-icon *ngIf="editable" nbSuffix class="edit-icon" icon="edit-outline" pack="eva"></nb-icon>
                    </nb-form-field>
                </div>
            </div>
            <travale-expandable-textarea class="mt-1" [readonly]="!editable" [(value)]="place.description" placeholder="{{'placeCard.placeDescription' | translate}}"></travale-expandable-textarea>
        </div>
    </div>
    <ng-template #full>
        <nb-card *ngIf="mode !== 'compact'">
            <nb-card-body>
                <nb-form-field class="subtitle-form-field">
                    <input nbInput type="text" [(ngModel)]="place.name" class="subtitle-input" placeholder="{{'placeCard.placeTitle' | translate}}">
                    <nb-icon nbSuffix class="edit-icon" icon="edit-outline" pack="eva"></nb-icon>
                </nb-form-field>
                <travale-expandable-textarea class="w-100 mt-1" [(value)]="place.description" placeholder="{{'placeCard.placeDescription' | translate}}"></travale-expandable-textarea>

                <nb-accordion>
                    <nb-accordion-item>
                     <nb-accordion-item-header class="p-1 audion-accordion-header">
                      <div class="subtitle">
                        {{'placeCard.audio' | translate}}
                      </div>
                      <nb-icon icon="music-outline" pack="eva" class="ps-1 ms-2 ghost-color"></nb-icon>
                     </nb-accordion-item-header>
                     <nb-accordion-item-body>
                        <div *ngIf="place.audio" class="d-flex align-items-center">
                            <div class="caption">
                                {{(place.audio.source === 'RECORD') ?
                                ('placeCard.voiceRecord' | translate) :
                                ('placeCard.audionFile' | translate)
                            }}
                            </div>
                            <button class="ms-2" size="tiny" nbButton (click)="clearAudio()">
                                <nb-icon class="edit-icon" icon="close-outline" pack="eva"></nb-icon>
                            </button>
                        </div>


                        <travale-audio-player [recordingEnabled]="!place.audio"
                        (recordingFinished)="recordingFinished($event)"
                        [audioBase64]="place.audio?.base64"
                        class="mt-1 d-block"></travale-audio-player>

                     </nb-accordion-item-body>
                    </nb-accordion-item>
                  </nb-accordion>


            </nb-card-body>
        </nb-card>
    </ng-template>

</div>
