<nb-card class="mb-0">
    <nb-card-body>
        <nb-tabset (changeTab)="onTabChange($event)">
            <nb-tab tabId="DROPPED" tabTitle="{{'imgUploader.uploadPhotos' | translate}}" tabIcon="upload-outline" responsive>
                <ngx-file-drop dropZoneLabel="Drop images here" (onFileDrop)="dropped($event)" accept="image/jpeg,image/png,image/webp,image/avif,image/tiff,image/gif,image/svg+xml">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector" >
                        <div class="d-flex flex-column text-center">
                            <label class="ps-1 pe-1" style="color: var(--text-basic-color)">{{'imgUploader.dropImagesHereOr' | translate}}</label>
                            <button nbButton class="ms-2" status="info" ghost (click)="openFileSelector()">{{'imgUploader.browseFiles' | translate}}</button>
                        </div>
                    </ng-template>
                </ngx-file-drop>
            </nb-tab>
            <nb-tab tabId="PASTVU" tabTitle="pastvu" [tabIcon]="{icon: 'pastvu', pack: 'other'}" responsive>
                <div>
                    <span>{{'imgUploader.historicalPhotosFrom' | translate}} <a href="https://pastvu.com">pastvu.com</a></span>
                    <span *ngIf="placeName">
                        {{'imgUploader.nearTo' | translate}} <b>{{placeName}}</b>
                    </span>
                </div>
            </nb-tab>
            <nb-tab tabId="PIXABAY" tabTitle="pixabay" [tabIcon]="{icon: 'pixabay', pack: 'other'}" responsive>
                <div>
                    <span>{{'imgUploader.photosFrom' | translate}} <a href="https://pixabay.com/">pixabay.com</a></span>
                    <span>
                        {{'imgUploader.foundByRequest' | translate}}:
                    </span>
                    <nb-form-field class="subtitle-form-field mt-2">
                        <input nbInput
                            [(ngModel)]="pixabaySearchString"
                            type="text"
                            placeholder="{{'imgUploader.placeSearchingString' | translate}}"
                            class="subtitle-input"
                            #input
                        >
                        <nb-icon nbSuffix class="edit-icon" icon="edit-outline" pack="eva"></nb-icon>
                    </nb-form-field>
                </div>
            </nb-tab>
            <nb-tab *ngIf="wikiDataId" tabId="WIKIDATA" tabTitle="wiki" [tabIcon]="{icon: 'wiki', pack: 'other'}" responsive>
                <div>
                    <span>{{'imgUploader.photosFrom' | translate}} <a href="https://wikidata.org/">wikidata.org</a></span>
                </div>
            </nb-tab>
        </nb-tabset>
        <div *ngIf="(tabId !== 'DROPPED' && uploadedPhotos.length === 0)" >
            {{'imgUploader.nothingFound' | translate}}
        </div>
        <travale-images-selector (selected)="onImgSelected($event)" [images]="uploadedPhotos" [selectMode]="uploadMode" (scrollEnd)="onScrollEnd()">
        </travale-images-selector>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-center">
        <div [nbSpinner]="isLoading" class="spinner-container"
            nbSpinnerStatus="primary"
            nbSpinnerSize="large"
            nbSpinnerMessage="">
        </div>
        <button nbButton status="primary" size="small" shape="round" class="mt-3 mb-3" (click)="close()" [disabled]="selectedImages.length === 0">{{'common.done' | translate}}</button>
        <button nbButton status="info" size="small" shape="round" class="m-3" (click)="ref.close()">{{'common.cancel' | translate}}</button>
    </nb-card-footer>
</nb-card>





