@import '../../../@theme/styles/themes';
@import '../../../../../node_modules/@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
    ngx-file-drop ::ng-deep > div {
      margin: auto;
      height: 80px;
      border: 2px dotted var(--border-basic-color-5);
      border-radius: 30px;
      height: 80px;

      > div {
        height: 80px !important;
        color: var(--border-basic-color-5);
      }
    }

  nb-card {
    width: 600px;
    max-height: 85vh;
  }

  nb-tab {
    padding: 16px;
  }

  @include media-breakpoint-down(sm) {
    nb-card {
      width: var(--small-window-width);
    }
  }
}


